<div class='class_variable_header'>
  <em><%= object.type %></em> <span class="path"><%= object.namespace == Registry.root ? '' : object.namespace.path + '::' %><strong><%= object.name %></strong></span>
</div>
